// article-block.scss

.article-block {
	margin: 0em 2em 2em 0em;
	.project{
	  text-transform: uppercase;
	  font-size: 0.76em;
	  font-weight: bold;
	  margin-top: 1.7em;
	}
	.client {
	color: $gray-light;
	font-size: 0.7em;
	font-weight: lighter;
	line-height: 0.5;
	letter-spacing: 0.06em;
	}
	.grow {
	display: block;
	overflow: hidden; 
	}
	img {
	@include transition;
    }
    img:hover {
    @include transform;
    }
    .small {
	width: 19.1875em;
	height: 10em;
    }
    .medium {
    width: 19.1875em;
    height: 25.25em;
    }
    .big {
    width: 40.25em;
    height: 25.25em;
    }
}