// awards.scss

	.awards {
	@include clearfix;
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
	  font-weight: 900;
	  font-size: 0.8em;
	  float: left;
	  padding: 5em 3em;
	  margin: 0em;
	}
	.x3 {
	  background: url("../images/x3.png") no-repeat top;
	  }
	.x10 {
	  background: url("../images/x10.png") no-repeat top;
	  }
	.x5 {
	  background: url("../images/x5.png") no-repeat top;
	  }
	}