.css-module {
  margin-bottom: 6em;
  &> h2 {
    padding: 0.5em 0.25em;
	  font-family: monospace;
	  background-color: $gray-lighter;
  }
  .sample-image {
    zoom: 0.5;
    display: block;
    border: 1px solid $gray-lighter;
  }
  &> *:last-child {
    border: 1px solid $gray-lighter;
  }
}