// globals.scss

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  font-family: $font-stack;
  color: $black;
  max-width: 1200 / 16 * 1em;
  margin: 4em auto;
  padding: 0 2em;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img {
  max-width: 100%;
}

h2 {
  border-top: 0.05em solid $gray-lightest;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1.5em 0;
  }

li {
  font-size: 0.7em;
  font-weight: 300;
  line-height: 3;
  letter-spacing: 0.03em;
}
