// main-nav.scss

.main-nav {
	text-transform: uppercase; 
	font-weight: 900;

	h2 {
	@include visuallyhidden;
	}
	ul {
	  @include clearfix;
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	}
	li {
	  float: left;
	  margin-right: 0.9em;
	  padding: 0 0.5em;
	  font-size: 0.7em;
	  font-weight: 900;
	}
	a {
	color: $gray-lightest;
	text-decoration: none;
	padding: 0.5em 0em;
	display: inline block;
	&:hover {
	    color: $gray-light;
	  }
	}
}