// projects.scss

.projects-content-wrap {
	background: $white;
	width: 100%;
}
.projects-content {
	width: 1015 / 16 * 1em;
	margin: 4em 8em auto;
}

.projects {
	margin-top: 3em;
	h2 {
	@include visuallyhidden;
	}
	.right {
	margin-right: 0;
	}
}